<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link href="style.css" rel="stylesheet">
        <title>
            index
        </title>
    </head>
    <body>
        <main>
            <div class="main_box">
        <h1>HTMLのテンプレ！！</h1>
        htmlのテンプレです。
        <h2>カラーバーのその先は…</h2>
        <p>画像のリンク先なのです。
        <br>それ以上でもそれ以下でもありません。
    </p>
    <br>
</div>
</main>
<footer>
    <div class="footer_box">
    &copy; 2021 Ryota Kaneko
</div>
</footer>
</body>
</html>